<div class="container">
  <mat-card class="mat-elevation-z8">
      <mat-toolbar color="accent" style="box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);">
        <div align="center" style="color:white;text-align: right;">
          Welcome to E-Auction
        </div>
      </mat-toolbar>
      <br><br>
      <mat-card-content>
        <form [formGroup]="eauctionForm" > 
          <table>
            <tr>
              <td class="tbl1">
                <mat-form-field>
                  <mat-label>Product</mat-label>
                  <mat-select formControlName="ProductID" (selectionChange)="FillProductIDDDL()" matTooltip="Choose your own product" autocomplete="off">
                    <mat-option *ngFor="let product of (allProducts | async)" [value]="product.ProductId">
                      {{product.ProductId}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              </tr>
              <tr>
                <td class="tbl1">
                  <mat-form-field class="demo-full-width">
                    <mat-label>Product Name</mat-label>
                    <input formControlName="ProductName" matTooltip="Name of selected Product" matInput placeholder="Product Name" autocomplete="off">
                  </mat-form-field>
                </td>
                </tr>
                <tr>                
                <td class="tbl1">
                  <mat-form-field class="demo-full-width">
                    <mat-label>Short Description</mat-label>
                    <input formControlName="ShortDescription" matTooltip="A short description of the product selected" matInput placeholder="Short Description" autocomplete="off">
                  </mat-form-field>
                </td>
              </tr>
                <tr>
                <td class="tbl1">
                  <mat-form-field class="demo-full-width">
                    <mat-label>Detailed Description</mat-label>
                    <input formControlName="DetailedDescription" matTooltip="A detailed description of the product selected" matInput placeholder="Detailed Description" autocomplete="off">
                  </mat-form-field>
                </td>
                </tr>
                <tr>
                  <td class="tbl1">
                    <mat-form-field class="demo-full-width">
                      <mat-label>Category</mat-label>
                      <input formControlName="Category" matTooltip="Category of the product selected" matInput placeholder="Product Category" autocomplete="off">
                    </mat-form-field>
                  </td>
                  </tr>
                  <tr>
                    <td class="tbl1">
                      <mat-form-field class="demo-full-width">
                        <mat-label>Starting Price</mat-label>
                        <input formControlName="StartingPrice" matTooltip="Starting Price of the product selected" matInput placeholder="Starting Price" autocomplete="off">
                      </mat-form-field>
                    </td>
                    </tr>
                <tr>
                  <td class="tbl1">
                    <mat-form-field class="demo-full-width">
                      <input matInput [matDatepicker]="picker" matTooltip="Bid End Date of Product Choosen" formControlName="BidEndDate" placeholder="Date Of End for Bidding" autocomplete="off">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </td>
                  </tr>  
            </table>
            <br><br>
            <!-- <div>
              <mat-table  [dataSource]="dataSource" matSort class="mat-elevation-z8" style="box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);">
                <ng-container matColumnDef="BidAmount">
                  <mat-header-cell  *matHeaderCellDef mat-sort-header> Bid Amount </mat-header-cell>
                  <mat-cell  *matCellDef="let buyer"> {{buyer.BidAmount}} </mat-cell>
                </ng-container>  
                <ng-container matColumnDef="BuyerFirstName">
                  <mat-header-cell  *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                  <mat-cell  *matCellDef="let buyer"> {{buyer.FirstName}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="BuyerEmailId">
                  <mat-header-cell  *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                  <mat-cell   *matCellDef="let buyer"> {{buyer.EmailId}}        </mat-cell>
                </ng-container>              
                <ng-container matColumnDef="BuyerMobile">
                  <mat-header-cell  *matHeaderCellDef mat-sort-header> Mobile </mat-header-cell>
                  <mat-cell  *matCellDef="let buyer"> {{buyer.MobileNo}} </mat-cell>
                </ng-container>
                <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div> -->
            </form>
            </mat-card-content>
      </mat-card>
      </div>